<div class="about mb-8 md:mb-16 relative z-20">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    the <span class="{{site.data.settings.text-color-scheme}}">professor </span>
  </h2>
          <div class="overflow-hidden rounded-full w-32 h-32 mx-auto shadow-lg">
            <img
              src="cory.png"
            />
          </div>
        <div class="w-full">
          <p
            class="text-md {{site.data.settings.text-color-scheme}} font-bold text-center"
          >
            Cory Simon
          </p>
          <p
            class="text-md text-center"
          >
          assistant professor
          </p>
        </div>

    <p>
    <br>

    Ph.D. Chemical Engineering. UC Berkeley.

    <br><br>

hails from a small town in Ohio. 
learned the ropes of scientific research at the University of Akron, Virginia Tech, Okinawa Institute of Science and Technology, University of British Columbia, Lawrence Berkeley National Laboratory, École Polytechnique Fédérale de Lausanne, and Altius Institute for Biomedical Sciences. 
interned in industry at Bridgestone Research (chemical engineering) and Stitch Fix (data science).

<br><br>

lives with his girlfriend, Christina, near the research forest for long walks with his Samoyeds, Oslo and Mochi. 
digs hiking/backpacking in forests, snowboarding, wine, films, and Starcraft.

<br><br>

<span class="{{site.data.settings.text-color-scheme}}">e:</span>
Cory.Simon [at] oregonstate.edu <br>
<span class="{{site.data.settings.text-color-scheme}}">t:</span>
@CoryMSimon <br>
<span class="{{site.data.settings.text-color-scheme}}">o:</span>
Kelley Engineering Center 2045 <br>
    </p>

  <p data-sal="slide-up" data-sal-duration="800">
  </p>
</div>
