<div class="about mb-8 md:mb-16 relative z-20">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    <span class="{{site.data.settings.text-color-scheme}}">the</span> professor

    <div
        class="w-full mx-auto rounded-lg bg-white border shadow-lg px-5 pt-5 pb-10 text-gray-800"
        style="max-width: 500px"
      >
        <div class="w-full pt-1 pb-3">
          <div class="overflow-hidden rounded-full w-16 h-16 mx-auto shadow-lg">
            <img
              loading="lazy"
              class="lazyload w-full"
              src="cory.png"
              alt="{{item.name}}"
            />
          </div>
        </div>

  </h2>

  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    <span class="{{site.data.settings.text-color-scheme}}">PhD</span> students
  </h2>

  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    <span class="{{site.data.settings.text-color-scheme}}">MS</span> students
  </h2>
  
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    <span class="{{site.data.settings.text-color-scheme}}">undergraduate</span> students
  </h2>

  <p data-sal="slide-up" data-sal-duration="800">
  <h3>PhD students<h3>
  </p>
  <div class="details mt-3 md:mt-6" data-sal="slide-up" data-sal-duration="800">

      hi. 
  </div>
</div>
